---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PublicationLink from '@components/PublicationLink.astro'
import { getCollection } from 'astro:content'

const audio = await getCollection("audio")
---

<DefaultLayout title="Selected Audio">
  <section class="my-32">
    <div class="container ml-64">
      <h3>Selected Audio</h3>
      <br />
      <div class="grid grid-cols-1 md:grid-cols-2">
        {
          audio[0].data.map((category)=> (
            <div class="md:px-4 mt-12">
              <h4>{category.category}</h4>
              <ul class="space-y-4 mt-8">
                {category.items.map((item)=>(
                <li>
                  <PublicationLink 
                    href={item.link}
                    linktext={item.title}
                    subtext={item.publication} />
                </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</DefaultLayout>
