---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import ContentMedia from '@components/ContentMedia.astro'
import { Image } from 'astro:assets'
import { Form, Input, Button, Textarea, Checkbox, Fieldset, Heading, Link, Radio } from 'accessible-astro-components'

import trainImage from '../assets/hina_imam_train.jpeg'
---

<DefaultLayout>
  <ContentMedia imgSrc={trainImage.src} imgAlt="A train arriving at Karachi railway station." imgCaption="Image Credit: Hina Imam">
    <h3>Get in touch!</h3>
    <form action="https://api.web3forms.com/submit" method="POST" class="py-4">
      <input type="hidden" name="access_key" value="ca622a23-f7a0-4747-9224-ffe38a944248">
      <Input
        name="email"
        label="Email address"
        type="email"
        required
        data-validation="Please provide a valid email address"
        class="mt-2"
      />
      <Input
        name="name"
        label="Name"
        type="string"
        required
        data-validation="What's your name?"
        class="mt-2"
      />
      <Textarea
        name="message"
        label="Your message"
        required
        rows={5}
        data-validation="Please provide your message (required)"
        class="mt-2"
      />
      <Button htmlType="submit" class="mt-2 rounded-md!">Send</Button>
    </form>
  </ContentMedia>
  <!-- <div class="flex flex-row py-12 h-full px-8 gap-8">
    <div class="flex flex-col max-w-1/2 h-vh my-auto">
      <Image src={trainImage} alt=""></Image>
      <span class="text-sm mt-4"> Image Credit: Hina Imam </span>
    </div>
    <div class="flex flex-col align-middle justify-start px-8 w-full">
    </div>
  </div> -->
</DefaultLayout>
