---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import Hero from '@components/Hero.astro'
---

<DefaultLayout title="Home">
  <Hero>
    <div class="flex flex-col gap-y-4">
      <div class="text-lg font-bold">
      Hina Imam (she/they) is a journalist, audio producer, and community engagement facilitator based on the unceded territories of the Musqueam, Squamish, and Tsleil-Waututh nations, colonially known as Vancouver, Canada.
      </div>
      <div>
      Her work centres on anti-oppression and intersectionality with a focus on decolonial media practices, equitable programming development, and designing accessible workshops. She is interested in telling culture and art stories through a social justice lens pertaining to migration politics, race & representation, and gender issues.
      </div>
      <div>
      Their writing has appeared in <i>The Globe and Mail, The Walrus, CBC Arts, The Tyee, Roads and Kingdoms,</i> and more.  
      </div>
      <div>
      In 2022, they received the Best Documentary Award from the <i>National Campus and Community Radio Association</i>, and in 2020, they received the Master of Journalism Award for contributions to cultural inclusion, equity, and diversity through the <i>University of British Columbia’s School of Journalism.</i> 
      </div>
    </div>
  </Hero>
</DefaultLayout>
