---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import { getCollection } from 'astro:content'

import polesImage from '../assets/hina_imam_poles.webp'
import ContentMedia from '@components/ContentMedia.astro'

const serviceCollection = await getCollection("services")
const service = serviceCollection[0].data
---

<DefaultLayout>
  <ContentMedia imgSrc={polesImage.src} imgAlt="Urban Street Photo" imgCaption="Image Credit: Hina Imam">
      <h3>Services I offer</h3>
      <div class="py-4">
        <ul>
          {service.map((s)=>(
          <li>
            {s}
          </li>
          ))
          }
        </ul>
      </div>

  </ContentMedia>
</DefaultLayout>
