---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PublicationLink from '@components/PublicationLink.astro'
---

<DefaultLayout title="Selected Audio">
  <section class="my-32">
    <div class="space-content container ml-64">
      <h3>Speaking Engagement</h3>
      <br />

      <div class="flex px-4 w-full">
          <ul class="space-y-4 mt-8 list-disc">
            <li>Teaching podcasting to high school students enrolled in the Native Youth Program for the summer of 2021-2023</li>
            <li>Facilitator and speaker at various media workshops run by the Community Arts Council of Vancouver and CiTR Radio, March 2023</li>
            <li>Guest speaker at National Campus and Community Radio Conference (NCRC) on ‘Ethics of Storytelling and Why it Matters’, June 2023</li>
            <li>Presenter at Podcast School run by National Campus and Community Radio Association (NCRA) on ‘Ethics of Storytelling and Why it Matters’, March 2023</li>
            <li>Panelist on the panel ‘Narrative News’ at Vancouver Podcast Festival, November 2021</li>
            <li>Moderator at Nash 82 conference on ‘Diversity in Student Journalism’, January 2020</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>
