---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import { getCollection } from 'astro:content'

const speakingCollection = await getCollection("speaking")
const speaking = speakingCollection[0].data
---

<DefaultLayout title="Selected Audio">
  <section class="my-32">
    <div class="space-content container ml-64">
      <h3>Speaking Engagement</h3>
      <br />

      <div class="flex px-4 w-full">
          <ul class="space-y-4 mt-8 list-disc">
          { speaking.map((item) => (
            <li>{item}</li>
          ))
          }
          </ul>
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>
