---
import { Image } from 'astro:assets'

/**
 * Hero Component
 *
 * @description A component that displays a hero section with a title, description, and image
 */
interface Props {
  /**
   * The source URL for the image
   */
  src?: string
}

const { src = '/src/assets/hina_imam_headshot.webp' } = Astro.props as Props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,webp}');
---

<section class="hero my-16">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="order-2 lg:order-1">
        <slot />
      </div>
      <Image class="order-1 lg:order-2 lg:block" src={images[src]()} alt="" decoding="async" width={800} height={600} loading="eager" />
    </div>
  </div>
</section>
