---
import { Avatar, Breadcrumbs, BreadcrumbsItem, Heading } from 'accessible-astro-components'
import { Image } from 'astro:assets'
import sanitizeHtml from 'sanitize-html'

/**
 * PageHeader Component
 *
 * @description PageHeader description
 */
interface Props {
  /**
   * Additional classes to apply to the PageHeader
   */
  class?: string
  /**
   * The featured image of the page
   */
  featuredImage?: string
  /**
   * The title of the page
   */
  title: string
  /**
   * The subtitle of the page
   * @description Can contain HTML content (will be sanitized)
   */
}

const {
  class: className,
  title,
  featuredImage,
} = Astro.props

---

<section class:list={[className, 'page-header']}>
  <div class:list={['py-16']}>
    <div class="space-content container">
      {
        featuredImage && (
          <div class="featured-image-container mb-8">
            <Image
              src={featuredImage}
              alt=""
              width={1200}
              height={250}
              class="h-[250px] w-full rounded-lg object-cover"
            />
          </div>
        )
      }
      <Heading level="h1">{title}</Heading>
    </div>
  </div>
</section>

<style>
  .page-header {

    .featured-image-container {
      max-height: 500px;
      overflow: hidden;
    }
  }
</style>
