---
import { Link } from 'accessible-astro-components'
interface Props {
  href: string
  linktext: string
  subtext?: string
  type?: string
  oneline?: boolean
}

const { href, linktext, subtext = '', type="primary", oneline=false } = Astro.props
---
<Link href={href} type={type}>
  {linktext}
</Link>
{
  !oneline ? 
    <br/><span class="ml-8"></span>
  : ''
}
<i> — {subtext}</i></span>